{% extends "base.html" %}

{% block title %}Filton{% endblock title %}

{% block content %}


        <div id="nav">
            <span><a class="my-button" href="/newmessage">New message</a></span>
            <span><a class="my-button" href="/deletedmessages">Deleted messages</a></span>
            <span><a class="my-button" href="{{logout_url }}">Log out</a></span>
        </div>

        <br>

        <p>
            {% for message in messages %}
                <div class="message">
                    <hr>
                    <button type="button" class="deleteButton my-button">X</button>
                    <!--<button type="button" class="deleteButton my-button" onclick="deleteMessage('/message/{{ message.key.id() }}/delete-with-ajax', myFunction)">X</button>-->
                        <!--<form action="/message/{{ message.key.id() }}/delete" method="post">-->
                            <!--<button class="my-button" type="submit">X</button>-->
                        <!--</form>-->
                    <br>
                    <p>Author: <a class="name" href="/message/{{ message.key.id() }}">{{ message.name }}</a></p>
                    <p class="email"> By: {{ message.email }}</p>
                    <br>
                    <p class="date"> Date: {{ message.date.strftime('%d. %m. %Y, %H:%M') }}</p>
                    <br>
                    <p class="messages">{{ message.message }}</p>
                    <br>
                    <p class="grade"> Grade: {{ message.grade }}</p>
                    <br>
                </div>

            {% endfor %}
        </p>

{% endblock content %}

{% block scripts %}

    <!--SHOWS DELETE BUTTON ON HOVER-->
    <script>

        $(document).ready(function(){
            $('.deleteButton').hide()

            $('.message').hover(
            function(){  //this is fired when the mouse hovers over
                $(this).find('.deleteButton').show();
            },
            function(){  //this is fired when the mouse hovers out
                 $(this).find('.deleteButton').hide();
            });

        });

        $(document).ready(function(){
            $(".deleteButton").click(function(e){

                var myUrl = $ (this).parent().find(".name").attr("href")+"/delete-with-ajax";
                <!--var target = $(this);-->

                $.ajax({
                    url: myUrl,
                    type: "POST",
                    success: function(result) {
                        if (result == 1) {
                            <!--target.parent().delay(500).slideUp();-->
                            $(e.target).parent().delay(500).slideUp();
                            alert("Delete successful");
                            console.log(result);
                        } else {
                            alert("Something went wrong.");
                            console.log(result);
                        }
                    }
                });
                return false;
            });
        });

    </script>


    <!--DELETES MESSAGE-->

    <!--<script>-->
        <!--function deleteMessage(url, cFunction) {-->
          <!--var xhttp;-->
          <!--xhttp=new XMLHttpRequest();-->
          <!--xhttp.onreadystatechange = function() {-->
            <!--if (this.readyState == 4 && this.status == 200) {-->
              <!--cFunction(this);-->
            <!--}-->
          <!--};-->
          <!--xhttp.open("POST", url, true);-->
          <!--xhttp.send();-->
        <!--}-->

        <!--function myFunction(xhttp) {-->
            <!--alert("Message deleted.");-->
        <!--}-->



    <!--</script>-->

{% endblock scripts %}